* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

.active {
    color: gold;
}

.container {
    max-width: 1440px;
    margin: auto;
}

